body {
  background-image: url("../assets/bg1.jpg");
  background-size: auto;
  background-blend-mode: darken;
  animation: slidein 100s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.signin-container {
  background-image: url("../assets/stars.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: #6c757d;
}
